generated-data
tools/*.o
tools_2.1
*.vcproj
*.wam
tools/dbgen2.sln
tools/Cygwin*
queries/
tools/.ctags_updated
tools/checksum
tools/columns.h
tools/distcomp
tools/dsdgen
tools/dsqgen
tools/mkheader
tools/streams.h
tools/tokenizer.c
tools/tpcds.idx
tools/tpcds.idx.h
tools/y.output
tools/y.tab.c
tools/y.tab.h


